doctype html
html
	head
		block head
			title #{title}
		meta(charset='utf-8')
		meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0")
		//- link(rel='stylesheet', href='/css/main.css')
		script(type="text/javascript", src="https://apis.google.com/js/client:platform.js", async, defer)
		link(href="https://fonts.googleapis.com/css?family=Roboto", rel="stylesheet", type="text/css")
		noscript
			meta(http-equiv="refresh", content="0;/views/noscript.html")
		block neck
	body
		script(type="text/javascript").
			function statusChangeCallback(response) {
				console.log('statusChangeCallback');
				console.log(response);
				// The response object is returned with a status field that lets the
				// app know the current login status of the person.
				// Full docs on the response object can be found in the documentation
				// for FB.getLoginStatus().
				if (response.status === 'connected') {
					// Logged into your app and Facebook.
					testAPI();
				} else if (response.status === 'not_authorized') {
					// The person is logged into Facebook, but not your app.
					document.getElementById('status').innerHTML = 'Please log ' +
						'into this app.';
				} else {
					// The person is not logged into Facebook, so we're not sure if
					// they are logged into this app or not.
					document.getElementById('status').innerHTML = 'Please log ' +
						'into Facebook.';
				}
			}
			
			function checkLoginState() {
				FB.getLoginStatus(function(response) {
					statusChangeCallback(response);
				});
			}
			window.fbAsyncInit = function() {
				FB.init({
					appId: '334710536706235',
					xfbml: true,
					version: 'v2.2'
				});
				FB.getLoginStatus(function(response) {
					statusChangeCallback(response);
				});
			};
		
			(function(d, s, id){
				 var js, fjs = d.getElementsByTagName(s)[0];
				 if (d.getElementById(id)) {return;}
				 js = d.createElement(s); js.id = id;
				 js.src = "//connect.facebook.net/en_US/sdk.js";
				 fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));
			 
			function testAPI() {
				console.log('Welcome!	Fetching your information.... ');
				FB.api('/me', function(response) {
					console.log(response);
					console.log('Successful login for: ' + response.name);
					document.getElementById('status').innerHTML =
						'Thanks for logging in, ' + response.name + '!';
				});
			}
		
		fb:login-button(scope="email", onlogin="checkLoginState();")
		span#status
		
		div#signinButton
			span.g-signin(
			  data-callback="signinCallback",
				data-clientid="458538676630-uegc4v3q7be62jq3bbh3n5uur03lcnva.apps.googleusercontent.com",
			  data-cookiepolicy="single_host_origin",
			  data-scope="profile email")
		
		script(type='text/javascript').
			function signinCallback(authResult) {
			  if (authResult['status']['signed_in']) {
			    // Update the app to reflect a signed in user
			    // Hide the sign-in button now that the user is authorized, for example:
					console.log(authResult);
			    document.getElementById('signinButton').setAttribute('style', 'display: none');
			  } else {
			    // Update the app to reflect a signed out user
			    // Possible error values:
			    //   "user_signed_out" - User is signed-out
			    //   "access_denied" - User denied access to your app
			    //   "immediate_failed" - Could not automatically log in the user
			    console.log('Sign-in state: ' + authResult['error']);
			  }
			}
			
		block body

		block feet
		
